// -variables 

$white: #fff;
$black: #000;
$mirage: #181A20;
$smoky-black:#0F0F0F;
$baltic-sea: #262A34;
$merino: #F4F1E7;
$seashell: #f0f0f0;
$medium-grey: #7D7D7D;
$double-spanish-white: #DFD8BF;
$bullet-shell:#B09B64;

$border-bottom: 0.5px solid #C4C4C4;
