@media (min-width: 1441px) {
  .header-mobile {
    display: none;
  }
}

@media (max-width: 1440px) {
  .header-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {

  // -fonts -----------------
  .f-head {
    font-size: 14px;
    line-height: 17px;
  }

  .f-descritp {
    font-size: 32px;
    line-height: 40px;
  }

  // -common -----------------
  .wrapper {
    padding: 100px 80px;
  }

  // -header -----------------
  .header {
    padding: 30px 50px 29px 88px;

    &__logo {
      width: 122px;
      height: 30px;
      align-self: center;
      margin-right: 33px;
    }
  }

  // -block one ---------------
  .one {
    background: url('../img/back/back-tablet.jpg') 0 0 / cover no-repeat;
  }

  // -block two -----------------
  .two__description {
    font-size: 50px;
    line-height: 50px;
    margin-top: 136px;
    padding-right: 0;
  }

  // -block three ----------------
  .three__chapter {
    margin-bottom: 93px;
  }

  .slaider__header {
    margin-bottom: 78px;
  }

  .slaider .carouselone-img {
    width: 773px;
  }

  // -block four ------------------

  .card__img {
    width: 268px;
    height: 240px;
    object-fit: cover;
  }

  // -block five -------------------

  .five .carousel-indicators {
    right: auto;
    bottom: 82px;
    left: 6px;
    margin: 0;
  }

  .five .carousel-indicators button {
    width: 8px;
    height: 8px;
  }

  .five .carousel-indicators .active {
    width: 8px;
    height: 8px;
  }

  .five .carousel-caption {
    bottom: 11px;
    left: 6px;
  }

  .five__descript {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #262626;
  }

  // -block form ----------------------
  .form__left {
    width: 40%;
  }

  .form__f {
    width: 60%;
  }

}

@media (max-width: 991px) {

  // -common ---------------

  .page {
    padding-top: 56px;
  }

  .chapter {
    padding: 0 40px 0 0;
  }

  // -header ---------------
  .header {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  // -block three --------------
  .slaider .carouselone-img {
    width: 87%;
    height: auto;
  }

  .slaider__footer {
    align-items: flex-start;
  }

  // -block four ----------------

  .cards {
    grid-template-columns: repeat(auto-fit, 268px);
  }

  .four__select {
    font-size: 80px;
  }
}

@media (max-width: 768px) {

  // -common --------------------
  .wrapper {
    padding: 40px 20px;
  }

  .three__chapter-middle,
  .five__chapter-middle {
    display: none;
  }

  .chapter {
    grid-template-columns: 1fr 1fr;
  }

  // -block one --------------

  .one {
    padding: 74px 0;
  }

  .one__description {
    font-size: 68px;
    margin-bottom: 74px;
  }

  .one__form {
    width: 430px;
    height: 72px;
    column-gap: 24px;
    padding: 0 20px;
  }

  .one__select-wrap {
    width: 88px;
  }

  .one__select {
    padding-bottom: 8px;
  }

  .one__label {
    margin-top: 4px;
  }

  .one .btn-search {
    width: 48px;
    height: 48px;
  }

  // -block three -------------

  .slaider__bee-one,
  .slaider__bee-two {
    font-size: 76px;
  }

  .slaider__from {
    font-size: 32px;
    line-height: 36px;
  }

  // -block four ----------------

  .four__select {
    font-size: 58px;
    margin: 40px 0;
  }

  .cards {
    display: none;
  }

  .four__carousel {
    display: block;
  }

  .card {
    width: 280px;
    margin: 0 auto;
  }

  .carouseltwo-img {
    grid-column: 1/3;
    height: 180px;
    object-fit: cover;
  }

  // -block footer -------------

  .footer__under {
    width: 100%;
    justify-content: space-between;
    column-gap: 0;
  }
}

@media (max-width: 450px) {

  // -common ---------------
  .content {
    flex-direction: column;
    row-gap: 40px;
  }

  // -block one ------------
  .one {
    padding: 40px 20px;
  }

  .one__box {
    align-items: flex-start;
  }

  .one__chapter {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  .one__description {
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    text-align: start;
    margin-bottom: 84px;
  }

  .one__form {
    width: 335px;
    height: 60px;
    column-gap: 16px;
    padding: 0 16px;
  }

  .one__select-wrap {
    width: 75px;
    height: 32px;
  }

  .one__select {
    font-size: 9px;
    line-height: 11px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 8px;
  }

  .one__select-wrap::after {
    width: 12px;
    height: 12px;
  }

  .one__label {
    font-size: 7px;
    line-height: 8px;
    margin-top: 4px;
  }

  .one .btn-search {
    width: 32px;
    height: 32px;
    background: url('../img/icon/search.svg') center / 12px 12px no-repeat;
    background-color: #fff;
  }

  // -block four ---------------
  .card {
    // width: 100%;
  }

  // -block five ---------------

  .five__chapter-first {
    width: 72px;
  }

  .five__slaider,
  .five__descript {
    width: 100%;
  }

  .five .carousel-caption {
    bottom: 11px;
    left: 6px;
  }

  // -block form ----------------------

  .form__left,
  .form__f {
    width: 100%;
  }

  .form__descript {
    padding: 40px 0;
  }

  .form__f {
    display: flex;
    flex-direction: column;
  }

  .form__f input,
  .form__placeholder {
    max-width: 100%;
  }

  .form__wrap {
    margin-bottom: 40px;
  }

  .form__submit {
    width: 50px;
  }

}

@media (max-width: 375px) {

  // -common ------------

  .chapter-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  // -fonts -----------------------

  .f-comm {
    // font-weight: 400;
    // font-size: 14px;
    // line-height: 17px;
  }

  .f-descritp {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
  }

  .f-arrow {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .f-slaid {
    font-size: 12px;
    line-height: 14px;
  }

  .f-middle {
    font-size: 20px;
    line-height: 24px;
  }

  .f-footer {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  // -header ----------------------

  .header {
    height: 102px;
    padding: 42px 28px;
  }

  // -block one ---------------------

  .one {
    background: url('../img/back/back-mobile.jpg') 0 0 / auto auto no-repeat;
  }

  // -block three -----------------------------

  .three__chapter {
    margin-bottom: 40px;
  }

  .three__chapter-first {
    width: 54px;
  }

  .slaider__header {
    margin-bottom: 40px;
  }

  .slaider__bee-one,
  .slaider__bee-two {
    font-size: 50px;
    line-height: 50px;
  }

  .slaider .carouselone-img {
    width: 254px;
    height: 190px;
  }

  .slaider__from {
    font-size: 20px;
    line-height: 24px;
  }

  // -block four ----------------------------

  .four__select {
    height: 36px;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border-bottom: 1px solid #7D7D7D;
    ;
    margin: 35px 0;
  }

  .four__form::after {
    width: 20px;
    height: 20px;
    background: url(../img/icon/drop-down-black.svg) 0 0/100% no-repeat;
  }

  // -block footer --------------

  .footer__logo {
    width: 178px;
    height: 44px;
  }

  .footer__column {
    width: 100%;
  }
}

@media (max-width: 340px) {

  .one__box {
    align-items: center;
  }

  .one__description {
    font-size: 42px;
    margin-bottom: 24px;
  }

  .one__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 240px;
    height: 100px;
  }
}