@import "../../scss/variables";

@media (max-width: 1024px) {

  // -block chapter ----------

  .open__chapter {
    padding: 0;
  }

  .open__title {
    font-size: 90px;
    font-size: clamp(38px, 12cqi, 120px);
    line-height: 117.8%;
    /* 106/90 */
  }

  .open__descript {
    width: 70%;
    font-size: clamp(18px, 3cqi, 32px);
  }

  // -block open cards -----------

  .open__cards {
    row-gap: 80px;
  }

  .open__number {
    font-size: clamp(30px, 6cqi, 50px);
  }

  .open__sales {
    font-size: clamp(30px, 6cqi, 50px);
  }

  .open__img {
    width: 282px;
    height: 267px;
  }
}

@media (max-width: 992px) {

  // -block cards --------

  .open__card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 4px;
    column-gap: 24px;

    padding-bottom: 120px;
    border-bottom: 2px solid #999999;
  }

  .open__mouth {
    grid-row: 1;
    grid-column: 1;

  }

  .open__lane {
    grid-row: 1;
    grid-column: 2;
  }

  .open__number {
    grid-row: 2;
    grid-column: 1;

  }

  .open__card-title {
    display: flex;
    grid-row: 2;
    grid-column: 1/4;
  }

  .open__time {
    grid-row: 3;
    grid-column: 1;
  }

  .open__address {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: flex-start;
    margin-top: 1rem;
  }

  .open__card-descritp {
    grid-row: 4/5;
    grid-column: 2/3;
    align-self: flex-end;
  }

  .open__img {
    grid-row: 3/5;
    grid-column: 3/5;
    justify-self: flex-end;

    width: 30cqw;
    height: 28.3cqw;
    object-fit: cover;
    width: 268px;
    height: 240px;
  }
}

@media (max-width: 768px) {


  // -block cards -----------

  .open__address {
    grid-column: 1/3;
    margin-top: 3rem;
    margin-top: 3rem;
  }

  .open__card-descritp {
    grid-column: 1/3;
  }
}

@media (max-width: 576px) {

  // -block chapter ----------

  .open__chapter {
    background: url('../../img/back/back-open-house-mobile.jpg') 0 0 / cover no-repeat;
  }
  .open__chapter-wrap {
    display: flex;
    flex-direction: column;
  }

  .open__title {
    order: 2;
    margin-bottom: 52px;
  }

  .open__descript {
    order: 1;
    margin-bottom: 16px;
  }

  // -block cards ----------

  .open__cards {
    row-gap: 40px;
  }

  .open__card {
    max-width: 335px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .open__sales {
    grid-row: 2/3;
    grid-column: 1/4;
    justify-self: center;
  }

  .open__lane-two {
    font-size: 16px;
    justify-self: flex-end;
  }

  .open__lane-two {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .open__time {
    grid-row: 4/5;
    grid-column: 1;

    font-size: 16px;
    line-height: 19px;
  }

  .open__address {
    grid-row: 4/5;
    grid-column: 2/4;
    justify-self: flex-end;
    margin-top: 0;

    font-size: 16px;
    line-height: 19px;
  }

  .open__card-descritp {
    grid-row: 5/6;
    grid-column: 1/4;

    font-size: 16px;
    line-height: 19px;
  }

  .open__img {
    grid-row: 3/4;
    grid-column: 1/4;
    width: 100%;
    height: 317px;
  }


}